<h1>Welcome!</h1>
<p>This is Social Network

<!--    <a href="#" class="button button_type__add">Users<span class="button_icon"></span></a>

    <a href="#" class="button button_type__remove">Messages<span class="button_icon"></span></a>-->


</p>