<div class="row">

  <div class="span2">
    <%= gravatar_for @user, :size => 100 %>
  </div>

  <div class="span10">
    <p>
      <b>Name:</b>
      <%= @user.name %>
    </p>

    <p>
      <b>Email:</b>
      <%= @user.email %>
    </p>
  </div>

</div>
