<!DOCTYPE html>
<html>
<head>
    <%= render 'layouts/head' %>
</head>
<body>

<%= render 'layouts/top_nav' %>

<div class="container" style="margin-top: 20px;">
    <%= yield %>
</div>

</body>
</html>
